.download {

    margin-top: 40px;

    .info {
        display: flex;
        align-items: center;
    }
    .box {
        margin: 0 15px;
    }

    .box-2 {
        font-size: 20px;
        padding: 5px 10px;
        border-right: 3px solid $primary-color;
        margin: 0 25px;
    }
    
    .name {
        margin: 15px;
        font-size: 20px;
        font-weight: 500;
    }
}
