/**
*
* Config
*
*/
// Import Teko font 
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

$primary-color: #b72a2c;
// $primary-color: #ce281f;
// $secondary-color: #0052a4;
$gray-dark: #212121;
$gray-light: #e1e1e1;
$white-dark: #f4f4f4;

body {
    font-family: 'Teko', sans-serif;
    // letter-spacing: 1px;
}


